* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body { 
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif, "Microsoft Yahei";
}
ul li{
	list-style-type: none
}

.btn,
.button{
	border: 1px solid #ddd;
	border-radius: 4px;
}
a{
	text-decoration: none;
}
img{
	vertical-align: middle;
}
.clearboth{
	clear:both;
}
.clearboth:after{
	content: '';
	display: table;
	clear:both;
}